<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/images/angular.svg" width="30" height="30" class="d-inline-block align-top" alt=""
        loading="lazy">
      Foro
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/temas', '1']">Temas</a>
        </li>
        <li class="nav-item" *ngIf="identity">
          <a class="nav-link" [routerLink]="['/panel/crear']">Crear Tema</a>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 ml-2" #searchForm="ngForm">
            <input class="form-control mr-sm-2" type="search" placeholder="¿Que estas buscando?" aria-label="Search"
              name="busqueda" #busqueda="ngModel" [(ngModel)]="search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="goSearch()">Buscar</button>
          </form>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name && identity.surname">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{identity.name + ' ' + identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/panel/listado']">Panel de Usuario</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pointer" (click)="logout()">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="footer mt-auto py-4 bg-dark">
    <div class="text-center" style="color: white;">Todos los derechos reservados © 2020</div>
  </footer>
</div>