<div class="row mb-5">
    <div class="col-md-12">
        <h3>{{page_title}}</h3>
        <hr>

        <div class="alert alert-success" *ngIf="!topics">
            Cargando...
        </div>

        <div class="alert alert-info mt-3" *ngIf="topics && topics.length == 0">
            No hay topics disponibles para mostrar
        </div>

        <table class="table table-sm" *ngIf="topics">
            <thead>
                <tr class="table-light">
                    <th scope="col" class="text-center">Título</th>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let topic of topics">
                    <td>{{topic.title}}</td>
                    <td>{{topic.date | amLocale: 'es' | amDateFormat: 'DD-MM-YYYY'}}</td>
                    <td class="text-center">
                        <a [routerLink]="['/tema', topic._id]" class="btn btn-sm btn-success mr-2">Ver</a>
                        <a [routerLink]="['/panel/editar', topic._id]" class="btn btn-sm btn-warning mr-2">Editar</a>
                        <a (click)="delete(topic._id)" class="btn btn-sm btn-danger">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>