<div class="row mb-5">
    <div class="col-md-12">
        <h3>{{page_title}}</h3>
        <p *ngIf="!status">Modifica tus datos personales de usuario</p>

        <div class="alert alert-success" *ngIf="status=='success'">
            Datos actualizados correctamente
        </div>

        <div class="alert alert-danger" *ngIf="status=='error'">
            La actualización no se ha completado
        </div>

        <div class="alert alert-success" *ngIf="!user && !status">
            Cargando...
        </div>

        <form #ajustesForm="ngForm" (ngSubmit)="onSubmit(ajustesForm)" class="col-md-5" *ngIf="user">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required
                    pattern="[a-zA-ZÀ-ÿ ]+" />
                <div *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                    El campo nombre es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Apellidos</label>
                <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control"
                    required pattern="[a-zA-ZÀ-ÿ ]+" />
                <div *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                    El campo apellidos es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                <div *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                    El campo email es obligatorio
                </div>
            </div>
            <div class="form-group">
                <div *ngIf="user.image" class="mb-3">
                    <img src="{{url + 'avatar/' + user.image}}" class="img-thumbnail" style="max-width: 50%;">
                </div>
                <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>

            <input type="submit" value="Guardar Cambios" class="btn btn-success float-right"
                [disabled]="!ajustesForm.form.valid" />
        </form>
    </div>
</div>