<div class="row mb-5">
    <div class="col-md-12">
        <h3>{{page_title}}</h3>
        <hr>

        <div class="alert alert-success" *ngIf="status=='success'">
            Datos guardados correctamente
        </div>

        <div class="alert alert-danger" *ngIf="status=='error'">
            Error al guardar la información
        </div>

        <form #addTopicForm="ngForm" (ngSubmit)="onSubmit(addTopicForm)" class="col-md-10">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="topic.title" class="form-control"
                    required />
                <div *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
                    El campo título es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="content">Pon tu pregunta o contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="topic.content" class="form-control"
                    required></textarea>
                <div *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
                    El campo contenido es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="code">Pon tu código</label>
                <textarea name="code" #code="ngModel" [(ngModel)]="topic.code" class="form-control"></textarea>
                <div *ngIf="!code.valid && code.touched" class="invalid-feedback d-block">
                    El campo código es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="lang">¿Sobre que lenguaje hablas?</label>
                <input type="text" name="lang" #lang="ngModel" [(ngModel)]="topic.lang" class="form-control" required />
                <div *ngIf="!lang.valid && lang.touched" class="invalid-feedback d-block">
                    El campo lenguaje es obligatorio
                </div>
            </div>
            <input type="submit" value="Guardar" class="btn btn-success float-right"
                [disabled]="!addTopicForm.form.valid" />
        </form>
    </div>
</div>